@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Disqus Dark Mode Styles */
.disqus-dark #disqus_thread {
  color-scheme: dark;
}

.disqus-dark #disqus_thread a {
  color: #ffffff;
}

.disqus-dark #disqus_thread iframe {
  background: #1a1a1a;
}

